* {
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
}

body {
    font-family: Muli, sans-serif;
    font-family: Rubik, sans-serif;
}

.logo {
    font-size: 25px;
    color: rgb(72, 72, 253);
}

.s {
    font-size: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    /* background: rgb(204, 204, 204); */
}

ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(176, 172, 172);

}

.icon {
    display: flex;
    font-size: 22px;
    gap: 20px;
    color: rgb(121, 118, 118);
}

a:hover {
    color: rgb(72, 72, 253);
}

.facebook:hover {
    color: rgb(72, 72, 253);
}
 .twitter:hover{
    color: rgb(72, 72, 253);
}
 .Instagram:hover{
    color: rgb(72, 72, 253);
}
 .linkedin:hover{
    color: rgb(72, 72, 253);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading1 {
    /* font-size: 50px; */
    padding-left: 50px;
    /* width: 100%; */
}

h1 {
    font-size: 70px;
    margin-bottom: 30px;
    font-family: Rubik, sans-serif;

}

h3 {
    /* width: 5px; */
    /* height: 5px; */
    margin-bottom: 20px;
    font-family: Rubik, sans-serif;
    font-size: 30px;
    font-weight: 400 !important;
    letter-spacing: 2px;
     
}

img {
    width: 40%;
    height: auto;
    font-size: 40px;
}

p {
    font-family: Rubik, sans-serif;
    font-weight: 400 !important;
    color: #9b9bae !important;
}
.pro{
    color: black;
}
.btn.btn-primary {
    background: linear-gradient(90deg, #3956de 0, #657be5);
    border: none;
    box-shadow: 0 4px 20px #3956de26;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;

}

.btn {
    border-radius: 3px;
    font-size: 15px !important;
    padding: 12px 30px;
    transition: all .5s;
}

.container {
    text-align: center;
    padding-bottom: 40px;
    padding-left: 20px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.col-lg-4 {
    width: 350px;
    /* border: 2px solid black; */
}

.pa {
    padding-left: 20px;
    margin-top: 20px;
}

.iner {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    /* padding-left: 20px; */
}

.to {
    margin-top: 40px;
    padding-left: 20px;
}

.me {
    text-decoration: none;
    margin-top: 25px;
    padding-left: 20px;

}

.image1 img {
    width: 300px;
}

.image2 img {
    width: 300px;
}

.inner {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
}

.mt-3 {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    padding-left: 15px;
}

.mt-4 {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    padding-left: 15px;
}

.ye {
    text-decoration: none;
}

.ka {
    text-decoration: none;
}

.containt {
    text-align: center;
    padding-top: 140px;
    padding-left: 20px;
}

.col-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    margin: 10px 30px;
    width: 100%;
    gap: 30px;

}

.download1 {
    /* background-color: ; */
    color: #9b9bae;
    border: 1px solid rgb(240, 233, 233);
    border-radius: 10px;
    padding: 20px 20px;
    /* margin: 10px 20px; */
    width: 350px;
    height: 300px;

}

.download2 {
    /* background-color:; */
    color: #9b9bae;
    border: 1px solid rgb(240, 233, 233);
    border-radius: 10px;
    /* padding: 10px 20px; */
    /* margin: 10px 20px; */
    padding: 20px 20px;
    /* margin: 10px 20px; */
    width: 350px;
    height: 300px;
}

.download3 {
    /* background-color:; */
    color: #9b9bae;
    border: 1px solid rgb(240, 233, 233);
    border-radius: 10px;
    padding: 20px 20px;
    /* margin: 10px 20px; */
    width: 350px;
    height: 300px;
}

.download1 img {
    background-color: #3956de;
    width: 30%;
    height: auto;
}

.download1:hover {
    background-color: #3956de;
    color: #fff;
}

.download1 img:hover {
    background-color: #3956de;
}

.download2 img {
    background-color: #3956de;
    width: 30%;
}

.download2:hover {
    background-color: #3956de;
    color: #fff;
}

.download2 img:hover {
    background-color: #3956de;
}

.download3 img {
    background-color: #3956de;
    width: 30%;
    /* margin: 20px 10px; */
}

.download3:hover {
    background-color: #3956de;
    color: #fff;
}

.download3 img:hover {
    background-color: #3956de;
}

.at {
    text-decoration: none;
    color: black;
}

.customer img {
    height: 500px;
    width: 100%;
    float: left;
}

.row3 {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 200px;
}

.mt-6 {
    margin-top: 50px;
}

.easy {
    text-decoration: none;
}

.group1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;


}

.picture1 img {
    width: 400px;
    margin-top: 40px;
    border-radius: 5px;

}

a {
    text-decoration: none;
    color: black;
}

.picture2 img {
    width: 400px;
    margin-top: 40px;
    border-radius: 5px;

}

.col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.music img {
    width: 7%;
    margin-top: 70px;
}

.music {
    border: 1px solid rgb(240, 233, 233);
    height: 200px;
    border-top: none;
    padding: 20px 20px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.scoll img {
    border-radius: 100px;
    width: 15%;
}

.meet {
    margin-left: 200px;
    margin-top: 26px;

}

.meet img {
    height: 350px;
    width: 120%;
    margin-right: 50px;
    padding-right: 50px;
}

.row4 {
    display: flex;
    /* justify-content:center; */
    /* float: right; */
    gap: 150px;
    /* width: 150%; */
}

.meeting {
    margin-top: 35px;
}

.meeting1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* gap: 30px; */
    margin-bottom: 20px;


}

.meeting2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;

}

.meeting3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;

}

.Contact img {
    height: 300px;
    width: 100%;
    margin-top: 30px;
    
}

button {
    width: 35%;
    height: 50px;
    /* padding: 20px; */
    font-size: 18px;
    background: linear-gradient(90deg,#2dd6b7 0,#58dec6);
    color: #fff;
    border-radius: 5px;
    border: 1px solid   ;
    position: relative;
}

.row5 {
    display: flex;
    
}

.fo {
    display: flex;
   

}

.lo {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 46%;
    /* gap: 4px; */
    padding: 10px 10px;
    margin-left: 45px;

}

.in {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px 10px;
    /* margin-left: 20px; */
    
}

input {
    font-size: 15px;
    height: 20px;
    border: 1px solid rgb(240, 233, 233);
    border-radius: 7px;
    padding: 10px 7px;
    /* gap: 10px; */
    letter-spacing: 1px;
}
label{
margin-bottom: 5px;
letter-spacing: 1px;
}
.subject {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 35px;
    padding: 10px 10px;
    margin-left: 45px;
    
}
.subject input{
    width: 95%;
}
.get {
    margin-top: 50px;
    margin-left: 45px;
    text-align: start;
}
textarea{
    padding: 10px 7px;
    border: 1px solid rgb(240, 233, 233);
    border-radius: 7px;
    letter-spacing: 1px;
    font-size: 15px;
    width: 95%;
}
.gmail{
    background: #e9e9ef;
    width: 18%;
    border-radius: 7px;
    padding: 5px 4px;
    margin-bottom: 30px;
    color: #939397;
    font-size: 15px;
}
.mail{
    color: #292d32;
}
.youreno{
    display: flex;
    gap: 100px;
    margin-left: 170px;
}

footer{
    background-color:#292d32;;
    height: 250px;
    /* width:100%; */
    padding: 50px 100px;
}
.logo2{
    font-size: 30px;
    color: #fff;
}
.pa{
    padding: 10px 10px;
    color: #ffffff80 !important;
    font-size: 20px;
    padding: 20px 10px;
    margin-bottom: 30px;
}
.logo3{
    color: #ffffff80 !important;
    font-size: 20 px;
    margin-left: 5px;
}
.jo{
    color: #ffffff80 !important; 
}
.y{
    list-style: none;
    color: #ffffff80 !important; 
    font-size: 19px;
    padding: 5px 7px;
    margin-top: 10px;
}
.footerhea{
    color: #ffffff80;
    margin-left: 15px;
    
}
.footerpro{
    color: #ffffff80;
    margin-left: 15px;
    
}
.footerlearn{
    color: #ffffff80;
    margin-left: 15px;
    
}
.int{
    display: flex;
    align-items: start;
    gap: 60px;
}
.row6{
   display: flex;
   justify-content:space-around;
   align-items: start;
}
.footerend{
    text-align: center;
    color: #ffffff80;
    margin-top: 20px;

}